<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.mapper.xtgl.IButtons">
    <insert id="addButtons" parameterType="Buttons">
        insert into Buttons values (UUID(),#{bname},#{premission},now())
    </insert>
    <update id="editButtons" parameterType="Buttons">
        update Buttons set bname=#{bname},permission=#{premission} where bid=#{bid}
    </update>
    <delete id="removeButtons" parameterType="Buttons">
        DELETE FROM buttons WHERE bid=#{bid}
    </delete>
    <insert id="addButtonMenu" parameterType="java.lang.String">
        insert into menubuttons values (#{name},#{bid})
    </insert>
    <update id="editButtonMenu" parameterType="Buttons">
        update menubuttons set MenuId=#{name} where bid=#{bid}
    </update>
    <delete id="removeButtonMenu" parameterType="java.lang.String">
        DELETE FROM menubuttons WHERE bid=#{bid}
    </delete>
    <select id="findNew" resultType="java.lang.String">
        SELECT bid FROM buttons ORDER BY `date` DESC  LIMIT 0,1
    </select>
    <select id="findonly" resultType="Tree" parameterType="java.lang.String">
        select b.bid id,b.bid as value,b.bname as Name,m.MenuId AS mparent,permission as mpath from buttons b
        inner join MenuButtons mb
        on b.bid=mb.bid
        inner join Menu m
        on mb.MenuId=m.MenuId where b.bid=#{bid}
    </select>
    <select id="findButtonsByPersCoding" resultType="Buttons" parameterType="java.lang.String">
        SELECT b.*,b.permission as premission FROM personnel p
        INNER JOIN personneljop pj
        ON p.persid=pj.persid
        INNER JOIN jop j
        ON j.jopid=pj.jopid
        INNER JOIN jopbutton jb
        ON j.jopid=jb.jobid
        INNER JOIN buttons b
        ON b.bid=jb.bid where PersCoding=#{PersCoding}
    </select>
</mapper>