<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.mapper.xtgl.IMenuMapper">
    <resultMap type="Tree" id="findMenuTreeMap">
        <id column="MenuId" property="id"/>
        <result column="MenuName" property="name"/>
        <result column="MenuParent" property="mparent"/>
        <result column="MenuPath" property="mpath"/>
        <result column="pid" property="parentId"/>
    </resultMap>
    <select id="findParentMenuAll" resultMap="findMenuTreeMap" parameterType="Menu">
        select * from Menu where MenuName like '%${MenuName}%'
    </select>

    <insert id="addMenu" parameterType="Menu">
        INSERT INTO menu VALUES (UUID(),#{MenuName},#{MenuParent},#{MenuPath})
    </insert>

    <delete id="removeMenu" parameterType="Menu">
        DELETE FROM menu WHERE MenuId=#{MenuId}
    </delete>

    <update id="editMenu" parameterType="Menu">
        UPDATE Menu SET MenuName=#{MenuName},MenuParent=#{MenuParent},MenuPath=#{MenuPath} WHERE MenuId=#{MenuId}
    </update>

    <select id="findParentMenuAll1" resultType="Menu">
        select * FROM Menu where MenuParent ='-1'
    </select>

    <select id="findOnlyMenu" resultType="Menu" parameterType="java.lang.String">
        select * FROM Menu WHERE MenuId=#{MenuId}
    </select>
    <select id="findParentMenuByJop" resultType="Menu" parameterType="Jop">
        select * from Menu where MenuId in (select MenuId from JopMenu where jobId=#{jopId})
    </select>
    <select id="findSonMenuByParent" resultType="Menu" parameterType="Menu">
        select * from Menu where menuParent=#{startTime} and MenuId in (select MenuId from JopMenu where jobid=#{endTime})
    </select>
    <select id="findAllSonMenu" resultType="Menu" >
        SELECT  * from Menu where MenuParent!="-1"
    </select>
</mapper>