<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.mapper.fwgl.IServiceHandlingMapper">
    <select id="FindServiceHandlingAll" parameterType="com.zking.pojo.fwgl.ServiceHandling"
            resultType="com.zking.pojo.fwgl.ServiceHandling">
        SELECT * FROM ServiceHandling
        <where>
            <if test="state!=null and state !=''">
                AND state=#{state}
            </if>
            <if test="HandlingType!=null and HandlingType!=''">
                AND HandlingType=#{HandlingType}
            </if>
            <if test="CustId!=null and CustId!=''">
                AND CustId =#{CustId}
            </if>
            <if test="CustAddress!=null and CustAddress!=''">
                AND CustAddress LIKE '%${CustName}%'
            </if>
        </where>
        limit #{page},#{limit}
    </select>

    <select id="FindServiceHandlingCount" parameterType="com.zking.pojo.fwgl.ServiceHandling"
            resultType="java.lang.Integer">
        SELECT count(ShId) FROM ServiceHandling
        <where>
            <if test="state!=null and state !=''">
                AND state=#{state}
            </if>
            <if test="HandlingType!=null and HandlingType!=''">
                AND HandlingType=#{HandlingType}
            </if>
            <if test="CustId!=null and CustId!=''">
                AND CustId =#{CustId}
            </if>
            <if test="CustAddress!=null and CustAddress!=''">
                AND CustAddress LIKE '%${CustName}%'
            </if>
        </where>
    </select>

    <insert id="FindServiceHandlingAdd" parameterType="com.zking.pojo.fwgl.ServiceHandling">
 INSERT INTO ServiceHandling(
  ShId, CustId,CustName,CName,CustSeat, Prov,Dist,Coun,CustAddress,Dealer,HandlingID,Ordering,AppointmentTime,PtDescribe,DateOfPurchase,
  HandlingType,HandlingDescribe,YesNo,DateOfSupervisor, Cause,state)
VALUES
  (UUID(), #{CustId},#{CustName},#{CName}, #{CustSeat},#{Prov},#{Dist},#{Coun},#{CustAddress},#{Dealer},#{HandlingID}, #{Ordering},
  #{AppointmentTime},#{PtDescribe},#{DateOfPurchase},#{HandlingType}, #{HandlingDescribe},#{YesNo},#{DateOfSupervisor},#{Cause},#{state})
    </insert>

    <update id="FindServiceHandlingEdit" parameterType="com.zking.pojo.fwgl.ServiceHandling">
        UPDATE Servicehandling
 SET  CustId = #{CustId}, CustName = #{CustName},CName = #{CName},CustSeat = #{CustSeat},Prov = #{Prov},Dist = #{Dist},Coun = #{Coun},
 CustAddress = #{CustAddress},Dealer = #{Dealer},HandlingID = #{HandlingID},Ordering = #{Ordering},AppointmentTime = #{AppointmentTime},
 PtDescribe = #{PtDescribe},DateOfPurchase = #{DateOfPurchase},HandlingType = #{HandlingType},HandlingDescribe = #{HandlingDescribe},
 YesNo = #{YesNo},DateOfSupervisor = #{DateOfSupervisor},Cause = #{Cause},state=#{state} where ShId = #{ShId}
    </update>

    <select id="FindServiceHandlingDate" resultType="com.zking.pojo.fwgl.ServiceHandling"
            parameterType="com.zking.pojo.fwgl.ServiceHandling">
        SELECT * FROM ServiceHandling WHERE ShId = #{ShId}
    </select>

    <delete id="FindServiceHandlingRemove" parameterType="com.zking.pojo.fwgl.ServiceHandling">
        DELETE FROM ServiceHandling WHERE ShId = #{ShId}
    </delete>


    <select id="FindPersonnelDate" resultType="com.zking.pojo.xtgl.Personnel"
            parameterType="com.zking.pojo.xtgl.Personnel">
SELECT PersName FROM personnel p
INNER JOIN personneljop pj
ON p.PersId=pj.Persid
INNER JOIN jop j
ON pj.JopId=j.JopId
WHERE j.JopId='bacea79f-d70f-11e8-868c-54ee75bbb0cd'
    </select>

</mapper>
